@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.game-container {
    max-width: 1400px;
    width: 100%;
    min-width: 300px;
    margin: 2rem auto; 
    padding: 2rem;
    background: #f8f9fa;  
    border-radius: 8px;  
    box-shadow: 0 0 10px rgba(0,0,0,0.2);  
}

h2 {
    font-family: 'Russo One', sans-serif;
}
.row {
    justify-content: start;
}

.no-results-message {
    text-align: center;
    width: 100%;
}

.game-card {
    height: 100%;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.game-card .card-body .btn {
    margin-top: auto; 
    width: 150px; 
    align-self: center; 
}

.card-img-top {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-title {
    font-family: 'Russo One', sans-serif;
}

.card-body {
    text-align: center;
}

.card {
    height: 100%;
    display: flex;
    padding: 0px;
    flex-direction: column; 
}

.col-xl-3, .col-lg-4, .col-md-6 {
    display: flex;
    flex: 1 0 auto;
}
