@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.game-container {
    max-width: 1400px;  /* Adjusted width for better spacing of game cards */
    margin: 2rem auto; /* Centers the container with margin from the top and bottom */
    padding: 2rem;
    background: #f8f9fa;  /* Light grey background */
    border-radius: 8px;  /* Rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);  /* Subtle shadow for depth */
}


.game-card {
    margin-bottom: 1rem; 
}

.card-img-top {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-title {
    font-family: 'Russo One', sans-serif;
}

.card-body {
    text-align: center;
}

.card {
    height: 100%;
    display: flex;
    padding: 0px;
    flex-direction: column; 
    justify-content: space-between; 
}

.col-xl-3, .col-lg-4, .col-md-6 {
    display: flex;
    flex: 1 0 auto;
}
